<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="br.com.fiap.pulsecheck.mapper.AuthMapper">

    <resultMap id="UsersResult" type="br.com.fiap.pulsecheck.model.Users">
        <id property="id" column="id"/>
        <id property="department_id" column="department_id"/>
        <result property="email" column="email"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="password" column="password_hash"/>
    </resultMap>

    <select id="findByEmail" parameterType="java.lang.String" resultMap="UsersResult">
        SELECT id, department_id, email, name, role, password_hash
        FROM users
        WHERE email = #{email}
    </select>

</mapper>
